@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


.light {
    color: rgb(0, 0, 0);
    background-color: white;
}
.dark {
    color: white;
    background-color: #393E46;
}